
<form action="{surl(0)}" method="get">
    
<select name="mkv" class="form-control">
  <option value="house--list">楼盘</option>
  <option value="sale--list">二手房</option>
  <option value="rent--list">出租</option>
  <option value="news--list">新闻</option>
  <option value="topic--list">专题</option>
  <option value="faqs--list">问答</option>
</select>

<input type="text" name="keywd" class="form-control" placeholder="Search">
<input type="submit" value="Search" class="form-control">

</form>
