<html>
<head>
    {code:"house/_ainit"}
    <link href="{=PATH_VIEWS}/comm/map/lib/map.css" rel="stylesheet" type="text/css"/>
</head>
<body style="margin:1rem">


<div class="qp01">
    <div class="s1">
        <em>安*某家园
            <span style="display:none;">|均价12345元/㎡</span>
        </em>
    </div>
</div>

<div class="mark1">
    <div class="mark1-blue">
        <em>A</em>
    </div>
</div>
<div class="mark1">
    <div class="mark1-red">
        <em>B</em>
    </div>
</div>

<div class="mark2">
    <div class="mark2-blue">
    </div>
</div>
<div class="mark2">
    <div class="mark2-red">
    </div>
</div>


</body>
</html>



